<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>

  <div class="demo">
    <button (click)="onEditCourse()" i18n>EDIT</button>

    <!-- i18n Pluralization support example -->
    <br />
    <br />
    <div i18n>{coursesTotal, plural, =0 {No Courses available.}
               =1 {One course is available}
              other {A total of {{coursesTotal}} are available} }</div>
  </div>

  <div class="courses">
  <!-- 2. We do the async here instead.
          Async is important as it will automatically takes care of
          unsubscribing the observable if component failed,
          which can prevent memory leak.
  -->
  <!-- <div class="courses" *ngIf="courses$ | async as courses"> -->
  <!-- 3. Change Detection 1 -->
  <!-- <div class="courses" > -->
    <!-- <course-card *ngFor="let course of courses" -->
    <!-- 1. Using async to wait for server to come back with a list of courses -->
    <!--  <course-card *ngFor="let course of ( courses$ | async )" -->
    <!-- 2. Instead of doing the async here, we do it at the parent DIV above -->

    <!-- 10.  We use attribute here (type)
              In Course-card component, we can use either the @Input or @Attribute to receive the input.
              However, since this is a constant that does not change, it would perform better if we
              use @Attribute instead
      -->

    <!-- 11. Using our custom pipe - filterByCategory to only return record that has category = 'BEGINNER' -->
    <!--     However, the pipe is only call once at the beginning. If you change the data, it will not
             be call again. eg if you click on the EDIT button, view data will change but pipe not
             being call again and the new record is not filtered. eg if we change BEGINNER to ADVANCE,
             the ADVANCE record will still be shown. This is call pure pipe.

             To make sure it will run again, we need to add pure: false at the @PIPE
    -->
    <!-- <course-card *ngFor="let course of (courses | filterByCategory: 'BEGINNER')" -->

    <!-- 12. i18 Alternative Expression example -->
    <course-card *ngFor="let course of courses"
      (courseChanged)="save($event)"
      type="beginner"
      [course]="course" >

      <course-image [src]="course.iconUrl"></course-image>

    </course-card>

  </div>


</div>




